body {
    background-color: #fcdba3;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.createOrder {
    border: 2px solid black;
    width: 800px;
    margin: 1% auto;
}
.form {
    border: 2px solid black;
    width: 800px;
    margin: 1% auto;
}
#order {
    border: 2px solid black;
    width: 800px;
    margin: 1% auto;
    text-align: left;
} 